{% extends "base.html" %}

{% block title %}
{% if product %}Edit Product{% else %}Add Product{% endif %}
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header">
        <h4>
            {% if product %}
                Edit Product
            {% else %}
                Add Product
            {% endif %}
        </h4>
    </div>

    <div class="card-body">

        <form method="POST" enctype="multipart/form-data">

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Company</label>

                    <select name="customer" class="form-select" required>

                        <option value="">Select Company</option>

                        {% for customer in customers %}

                        <option value="{{ customer.id }}"
                            {% if product and product.customer_id == customer.id %}
                                selected
                            {% endif %}>

                            {{ customer.company_name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6 mb-3">

                    <label>Product Name</label>

                    <input
                        type="text"
                        name="product_name"
                        class="form-control"
                        value="{{ product.product_name if product else '' }}"
                        required>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Cylinder No.</label>

                    <input
                        type="text"
                        name="cylinder_no"
                        class="form-control"
                        value="{{ product.cylinder_no if product else '' }}">

                </div>

                <div class="col-md-6 mb-3">

                    <label>Artwork</label>

                    <input
                        type="file"
                        name="artwork"
                        class="form-control">

                    {% if product and product.artwork_file %}
                        <small class="text-success">
                            Current File : {{ product.artwork_file }}
                        </small>
                    {% endif %}

                </div>

            </div>

            <button class="btn btn-success">
                {% if product %}
                    Update Product
                {% else %}
                    Save Product
                {% endif %}
            </button>

            <a href="{{ url_for('product.products') }}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}